#
# Copyright (c) 2019 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

service wfdvndservice /product/vendor_overlay/29/bin/wfdvndservice
  class main
  user system
  group inet
